/*This is the website column where it talks about the fixed and non-repeated background and the padding are zero*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url('https://th.bing.com/th/id/OIG1.MHnyEfLD8bAfvkJrBP1t?pid=ImgGn');
    background-size: cover;
    background-repeat: no-repeat;
}
/*It contains the logo, the large title, and the score*/

nav {
   
    overflow: hidden;
    background-color: #000000;
}

.logo {
    float: left;
    padding: 20px;
    filter: drop-shadow(5px 2px 6px rgb(255, 0, 0));
}

.logo img {
    height: 60px; 
    width: 60px;
    border-radius: 50%;
    border: 4px solid black;

}

.profile {
    float: right;
    padding: 10px;
}

.profile img {
    height: 30px; 
    width: auto;
    border-radius: 10%;
    text-align: center;
     
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title a{
    text-decoration: none;
    color: rgb(255, 102, 0) ;
    font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
}

.title {
    float: center;
    color: rgb(255, 47, 0);
    padding: 10px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    transition: transform 0.5s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 30px;
    left: 100px;
    right: 100px;
    width:664px;
    background-color: black;
   animation: mymove 5s;
   cursor: pointer;
   background: transparent;
}
/*/ this transform from titel move 5s /*/
.title:hover{
  
    transform: translateY(-5px);
}

/*/ this methode keyframes {from,to} mymove/*/

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}
/*/{display,flex} for container*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 padding-top: 140px;
   

}

/*design for body-container and {movment}//*/
.quiz-container{
    padding: 20px 80px;
    background-color: #ff0000;
    border: 2px solide rgb(255, 255, 255);
    outline: none;
    border-radius: 8px;
   font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    cursor: pointer;   
    transition: transform 0.5s;
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid white;
   box-shadow: 0 0 30px #ff0051, 
    0 0 10px rgba(255, 0, 55, 0.599), 
    0 0 100px #ff3a3a, 
    0 0 500px #ff0000, 
    5px 9px 5px rgba(0, 0, 0, 0.638);
   
}
/*this choice {display-flex}*/
#choices {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 10%;
}
/*transition from choice and design for choice button//*/
.choice {
    transition: transform 0.3s ease;
     cursor: pointer;
     border: 2px solide white;
     outline: none;
     border-radius: 8px;
     letter-spacing: 1px;
    box-shadow: #fff;
     outline: none;
     border-radius: 8px;
     color: #ffffff;
     box-shadow: 0 0 40px #fffefe;
     font-size: 23px;
     padding: 2px 20px;
     width:0 120px;
     background-color: rgb(255, 255, 255);
     height: 80px;
     color: #000000;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: auto 20px;
    }
/*thif for transform container,  choice*/
.quiz-container:hover {
    transform: translateY(-20px);
  }
  .choice:hover {
    transform: scale(1.2);
  }
/*this scoer  design  for body*/
  .scorecontainer{
      right: 40px;
       top: 40px;
      display: flex;
       justify-content: center;
      align-items: center;
      font-size: 14px;
     font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: rgb(255, 55, 0);
      background: #000000;
     padding: 12px 15px;
     border: 2px solid white;
   
    border-radius: 10px;
    transition: transform 1s;
    }
    /*and this fro [.scorecontainer],textdecoration,color/*/
    .scorecontainer a {
    text-decoration: none;
    color: white;
   
  }
  /*.scorecontainer:hover//*/
  .scorecontainer:hover{
    transform: translateY(-5px);

}
.background-video{
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;      
    background-size: cover;
    }